body {
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 15px;
    margin: 5px;
}

.name {
    color: black;
    padding: 0px 10px 10px 10px;
    float: left;
}

a   {
    color: black;
}

.nav {
    float: right;
    padding-top: 8px;
}

.nav-link {
    color: black;
    font-size: 20px;
    padding-top: 0px;
}

.container  {
    clear: both;
}

.jumbotron  {
    padding-bottom: 155px;
    margin-top: 30px;
}

.bio-image  {
    margin-right: 20px;
    margin-bottom: 5px;
    height: 450px;
    object-fit: contain;
    float: left;
}

.bio-text   {
    margin: 20px;
    line-height: 2em;
}

#clearfloat {
    clear: both;
    padding: 20px 0px;
}

.col-md-6   {
    text-align: center;
}

#fluid  {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 30px; 
}

#contact-subhead    {
    justify-content: center;
    display: flex;
}

#subhead    {
    font-size: 30px;
    font-weight: 300;
}

.card-img-top   {
    max-height: 400px;
    height: 400px;
    object-fit: contain;
}

section {
    width: 100%;
    align-items: center;
    justify-content: center;  
}

#email-form {
    padding: 0px 80px;
    margin:auto;
}

#exampleInputMessage1   {
    height: 200px;
    word-wrap: break-word;
}

footer  {
    padding: 10px;
    background-color: white;
}

h3  {
    text-align: center;
    font-weight: 200;
    font-size: small;
    color: gray;
}

.icons  {
    max-width: 100%;
    height: 80px;
    padding: 20px;
}

.logos  {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardbutton {
    margin-left: 5px;
    margin-right: 5px;
}



@media screen and (max-width: 768px) {
    .nav    {
        width: 100%;
        clear: both;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .name   {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}